body {
    background: url('../../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
    color: #000000;
    border: none;
    word-wrap: break-word;
}

.card-collection{
    background-color: #ffffff;
}


.flex-text {
    flex-grow: 1;
}

.flex-row img {
    min-width: 0;
    width: 100%;
}

.overLay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.card-collection {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.thumbnail {
    margin-bottom: 0;
    background-color: transparent;
}

.card-collection {
    margin-bottom: 25px;
}

.card-collection:hover {
    background-color: rgba(255, 255, 255, .7);
}

.card-collection:hover .overLay {
    opacity: 1;
}

